.activity-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;

}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;


}

.cart-container {
    background-color: #1C2B35;
}

/* @media screen and (max-width:1100px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }
} */
@media screen and (max-width: 600px) {


    .products-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}