.cart {
    position: sticky;
    top: 0;
    padding: 30px 20px;
}

.person-info {
    color: white;
}

.btn {
    display: flex;
    justify-content: space-between;

}

.btn-sec {
    border-radius: 50%;
    padding: 15px;
    text-align: center;

}

.btn-sec:hover {
    background-color: blue;
}